<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form #form="ngForm" (ngSubmit)="login()">
        <ion-list>

            <ion-item>
                <ion-label floating>username</ion-label>
                <ion-input type="text" [(ngModel)]="Model.userName"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>password</ion-label>
                <ion-input type="password" [(ngModel)]="Model.password"></ion-input>
            </ion-item>

        </ion-list>
        <div padding>
            <button type="submit">Sign In</button>
        </div>
    </form>

</ion-content>