<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <ion-item>
            <ion-label floating>username</ion-label>
            <ion-input type="text" #username></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>password</ion-label>
            <ion-input type="password" #password></ion-input>
        </ion-item>

    </ion-list>
    <div padding>
        <button (click)="registerUser()">Sign In</button>
    </div>
</ion-content>