<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="top-buttons">
        <button ion-button (click)="signIn()">Sign In</button>
        <button ion-button (click)="register()">Register</button>
    </div>
</ion-content>